@import 'antd/dist/antd.css';
@import 'doctor-online-common/dist/styles/variables.css';

* {
  font-family: 'Inter', -apple-system, 'BlinkMacSystemFont', system-ui, 'Roboto', 'Segoe UI',
  'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}
